:root{
    --dark-gray-color:#b9b9b9;
    --white-color:#fff;
    --black-color:#000;
    --navyBlue-color:#0094c7;
    --orange-color:#ff0000;
    --red-color:#ff2859;
    --green-color:#00d800;
    --dark-green-color:#00e76e;
    --light-blue:#9000ff;
    --blue-color:#4400cc;
    --secondary-98-color:#989898;
    --orange-dark-color:#ff8000;
    --light-green-color:#bef400;
    --prpl-color:#a700f6;
    --yellow-color:#f3b300;
}
html{
    height: 100%;
}
@font-face {
  font-family: ChalkboardSE;
  src: url('../fonts/ChalkboardSE-Regular.woff');
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px !important;
    font-family: 'Ubuntu', sans-serif;
}
body h1, body h2, body h3, body h4, body h5 {
    font-family: ChalkboardSE;
}



.color-red{
    color: var(--red-color) !important;
}
.color-orange{
    color:var(--orange-dark-color) !important;
}
.white-color{color:var(--white-color) !important}
.color-bluePrpl{color:var(--prpl-color) !important;}
.color-secondary-98{color:var(--secondary-98-color) !important;}
.colorGreen{color:var(--green-color) !important;}
.border-radius-8{border-radius: 8px;}

.bg-yellow{background: var(--yellow-color) !important;}
.bg-yellow-shade{background:#f3b300b0!important;}
.bg-green{background: var(--green-color) !important;}
.bg-green-shade{background: #00d8008f !important;}
.bg-blue{background: var(--blue-color) !important;}
.bg-blue-shade{background: #4400cc96!important;}



article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block;}
a{background-color:transparent;}
a:active,
a:hover, button{outline:none !important;text-decoration: none !important;}

* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box}
img { max-width: 100%;vertical-align: middle;display: inline-block}
a, button{transition: 0.3s ease all;cursor: pointer;}
.margin0{margin:0 !important;}
p {margin-top: 0;margin-bottom: 10px}

/*--social-header-top--*/

.container-fluid.headerMain-section{
    padding:0;
    position: fixed;
    top: 0;
    left: 0;
    height: 130px;
    background: transparent;
    transition:0.4s ease all;
    z-index: 9;
}
/*.container-fluid.headerMain-section:before{*/
/*    content: '';*/
/*    top:25%;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 138px;*/
/*    background: url(../images/header-shape.png) no-repeat, center;*/
/*    background-size: 100% 100%;*/
/*    z-index: -1;*/
/*    transition: 0.4s ease all;*/
/*}*/
/*.container-fluid.headerMain-section.fixed-header:before{opacity: 0;}*/
.container-fluid.headerMain-section.fixed-header{box-shadow: 0 1px 20px 0 rgba(0,0,0,0.1);height: 93px;background: var(--white-color)}
.container-fluid.headerMain-section.fixed-header .row.header-socialLik,
.container-fluid.headerMain-section.fixed-header .row.header-logoMenu{padding: 5px 30px;}
.row.header-socialLik{
    padding: 10px 30px;
    transition: 0.4s ease all;
    border-bottom: 1px solid #dddddd59;
}

.social-linkSec{justify-content: flex-end;}
.social-linkSec ul li {
    color: var( --dark-gray-color);
    padding: 0 15px;
    font-size: 15px;
    font-weight: 500;
}
.social-linkSec ul li a{color: var( --white-color);font-size: 13px;font-weight: 400}
.social-linkSec ul li a:hover, .fixed-header .social-linkSec ul li a:hover{
    color:#0094c7;
}
.fixed-header .social-linkSec ul li a{color: var( --dark-gray-color);}
.social-linkSec .social-mediaLink li{padding: 0 4px;}
.row.header-logoMenu{
    padding:10px 30px;
    transition: 0.4s ease all;
    justify-content: space-between;
}
.logoMain a img{height:65px;transition:0.4s ease all;}
.logoMain a{
    position: relative;
}
.container-fluid.headerMain-section.fixed-header .logoMain a img{height: 45px;}
.header-logoMenu ul{text-align: right;justify-content: flex-end;}
.header-logoMenu ul li a{
    font-size: 16px;
    font-family: ChalkboardSE;
    padding: 15px;
    color: #ffffff;
    position: relative;
    letter-spacing: 0.08px;
    text-shadow: 0 0 4px rgba(0,0,0,0.07);
}
.header-logoMenu ul li a:before{
    content: '';
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    width:0;
    height: 2px;
    background: var(--white-color);
    border-radius: 50px;
    opacity:1;
    transition: 0.4s ease all;
}
.header-logoMenu ul li a.inq-loginBtn:before{
    display: none;
}
.logo-white{
    position: absolute;
}
.fixed-header .logo-white{opacity: 0}
.fixed-header .header-logoMenu ul li a.home{color:var(--navyBlue-color);}
.fixed-header .header-logoMenu ul li a.about-us{color: var(--orange-color)}
.fixed-header .header-logoMenu ul li a.facilitiesLink{color:var(--red-color)}
.fixed-header .header-logoMenu ul li a.gallery{color:var(--green-color)}
.fixed-header .header-logoMenu ul li a.contact-us{color:var(--blue-color)}

.fixed-header .header-logoMenu ul li a.home:before{background: var(--navyBlue-color);}
.fixed-header .header-logoMenu ul li a.about-us:before{background: var(--orange-color);}
.fixed-header .header-logoMenu ul li a.facilitiesLink:before{background: var(--red-color);}
.fixed-header .header-logoMenu ul li a.gallery:before{background: var(--green-color);}
.fixed-header .header-logoMenu ul li a.contact-us:before{background: var(--blue-color);}

.header-logoMenu ul li a:hover:before, .header-logoMenu ul li a.active:before{width:70%;}
.header-logoMenu ul .inq-loginBtn {
    border-radius: 50px;
    background: #0094c7;
    color: var(--white-color);
    font-size: 15px;
    padding: 8px 20px;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.1);
    margin-left: 10px;
    border: 1px solid #0094c7;
}
.header-logoMenu ul .inq-loginBtn.login{
    background: var(--orange-color);
    border-color: var(--orange-color);
}
.header-logoMenu ul .inq-loginBtn:hover{box-shadow: 0 1px 15px 0 rgba(0,0,0,0.2);background: var(--white-color);
    color: #0094c7;}
.header-logoMenu ul .inq-loginBtn.login:hover{
    color: var(--orange-color);}
/*--banner-css--*/

.container-fluid.bannerSection{
    color: var(--white-color);
    padding: 130px 0;
    margin-top: 0;
    font-family: ChalkboardSE;
    background: var(--orange);
    position: relative;
}
.container-fluid.bannerSection:before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../images/banner-shade.png) no-repeat, center;
    background-size: 100% 100%;
}
.banner-img img{
    height: 450px;
    margin-bottom: 35px;
}
.bannerSection h1{font-size: 40px;margin-bottom: 20px;}
.bannerSection p{font-size: 22px;letter-spacing: 0.1px;margin-bottom: 5px}
.main-btn{
    color: var(--orange-color);
    border:1px solid #ffffff;
    background: var(--white-color);
    margin: 30px 0;
    padding: 11px 30px;
    border-radius: 50px;
    font-size: 15px;
    display: inline-block;
}
.main-btn:hover{
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.02);
    background: var(--orange-color);
    color: var(--white-color);
}
/*--welcome-section--*/

.container-fluid.fluidSection-main{padding: 60px 0;}
.headingSection{
    margin: 0 0 45px 0;
}
.headingSection h5{color: var(--green-color);font-size:40px;font-family: ChalkboardSE;text-shadow: 0 0 6px rgba(0,0,0,0.07)}
.headingSection h5 img{height: 50px;margin-top: -10px;}
.headingSection p{color: var(--secondary-98-color);font-size: 18px;}
.our-school-details h6{
    font-size: 32px;
    margin-bottom: 20px;
    color: var(--orange-color);
}
.our-school-details p{
    color: var(--secondary-98-color);
    font-size: 17px;
    line-height: 30px;
    margin-bottom:45px;
}
.main-btnSecond {
    background: var(--orange-color);
    color: var(--white-color);
    padding: 8px 28px;
    border-radius: 4px;
    font-size: 18px;
    border:1px solid var(--orange-color);
}
.main-btnSecond:hover{
    background: var(--white-color);
    color: var(--orange-color);
}
.why-choose-inner .row{padding-bottom:30px;}
.choose-content{width:calc(100% - 60px);}
.choose-content h5{
    font-size: 22px;
    color: var(--light-green-color);
    margin-bottom: 10px;
}
.choose-content p{color: var(--secondary-98-color);font-size: 16px;}
.choose-logoIcon{width: 60px;}
.choose-logoIcon span{
    width:60px;
    height: 60px;
    border-radius: 12px;
}
.choose-logoIcon span.chooseColor-1{background: var(--light-green-color);}
.choose-logoIcon span.chooseColor-2{background: var(--blue-color);}
.choose-logoIcon span.chooseColor-3{background: var(--prpl-color);}
.choose-logoIcon span.chooseColor-4{background: var(--red-color);}
.choose-logoIcon span.chooseColor-5{background: var(--light-blue);}
.choose-logoIcon span.chooseColor-6{background: var(--green-color);}
.choose-content h5.colorBlue{color:var(--blue-color)}
.choose-content h5.colorPrpl{color:var(--prpl-color)}
.choose-content h5.colorRed{color:var(--red-color)}
.choose-content h5.colorBlueLight{color:var(--light-blue)}
.choose-content h5.colorGreen{color:var(--green-color)}
.choose-sectionDiv{right: 60px;position: relative;}
.chooseSection-iconDiv{position: relative;left: calc(100% - 60px);}
.btn-toggle{display: none;}

/*--facilities--*/

.row.facilitiesInner{justify-content: space-between;padding-top: 55px;}
.facilities {
    width: 23%;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.085);
    background: var(--white-color);
    margin-bottom: 30px;
    transition: 0.4s ease all;
}
.facilities:hover{
    margin-top:-15px;
}
.facilities .facility-imgSec{
    width: 130px;
    height: 130px;
    background:linear-gradient(#fff,#fff,#eee, #eee);
    margin: -100px auto 0;
    border-radius: 50%;
}
.facilities-imgInner{
    background:#ff2859a3;
    width: 105px;
    height: 105px;
    border-radius: 50%;
}
.facilitiesMainImg {
    background: var(--red-color);
    opacity: 1;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    border: 2px solid var(--white-color);
}
.facilitiesMainImg img{height: 45px;}
.facilities h5{
    margin: 25px 0 10px;
    font-size: 24px;
    color: var(--black-color);
}
.facilities p{color: var(--secondary-98-color);font-size: 18px;}
.gray-bg{background-color: #f7f7f7;}

/*--gallery--*/

.galleryMain .gallery-headingP{margin: 10px 0 30px;}
.galleryMain{position: relative;overflow: hidden;}
.galleryMain:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/gallery-bg.png), no-repeat, center;
    background-size: cover;
    width: 107%;
    height: 100%;
}
.galleryMain .gallery-imgSec{
    position: relative;
    left: 15px;
    padding: 0;
}
.galleryMain .gallery-imgSec .row .hm-gallery-img{
    border-radius: 10px;
    overflow: hidden;
    transition: 0.4s ease all;
}
.galleryMain .gallery-imgSec .row .hm-gallery-img img {
    width: auto;
    transform: scale(1);
    transition: 0.4s ease all;
}
.galleryMain .gallery-imgSec .row .hm-gallery-img:hover img{
    transform: scale(1.09);
}
.gallery-imgSec .col-sm-6:nth-child(3) .hm-gallery-img{margin-top: 30px;}
.gallery-imgSec .col-sm-6:nth-child(4) .hm-gallery-img{margin-top: -5px;}
.gallery-imgSec .col-sm-6:nth-child(2) .hm-gallery-img{margin-top: -30px;}

/*--staff-section--*/

.row.meetStaff-section{
    border-radius:8px;
    margin-bottom: 60px;
    border:1px solid;
}
.row.staffSectionRow{padding-top: 45px;background-color: #ffffff}
.row.meetStaff-section.bg-1{border-color: var(--prpl-color);color: var(--prpl-color);box-shadow: 0 0 17px 0 #a700f633;}
.row.meetStaff-section.bg-2{color:#ffad6e;border-color: #ffad6e;box-shadow: 0 0 17px 0 #ffad6e33;}
.row.meetStaff-section.bg-3{border-color: #ff73c5;color: #ff73c5;box-shadow: 0 0 17px 0 #ff73c533;}
.row.meetStaff-section.bg-4{border-color:#4ecdf4;color:#4ecdf4;box-shadow: 0 0 17px 0 #4ecdf433;}
.staff-img{width: 100%;padding: 5px;}
.staff-details{
    width: 100%;
    text-align: center;
    padding: 15px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}
.staff-details h5{font-size: 25px;margin-bottom: 5px;font-family: 'Ubuntu', sans-serif;}
.staff-details p{
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 0;}
/*--enroll your child to a class--*/

.container-fluid.enroll-childForm{
    position: relative;
    background:linear-gradient(rgba(255,173,110,0.9), rgba(255,173,110,0.9)), url(../images/enroll-child.png);
    padding: 10% 0;
}
.container-fluid.enroll-childForm:before, .container-fluid.enroll-childForm:after{
   position: absolute;
    content: '';
    left: 0;
    width: 100%;
}
.container-fluid.enroll-childForm:before{
    top: -40px;
    background: url(../images/layer-1.png) center, no-repeat;
    height: 88px;
    background-size: 100% 100%;
}
.container-fluid.enroll-childForm:after{
    bottom: -32px;
    background: url(../images/layer-2.png) center, no-repeat;
    height: 102px;
    background-size: 100% 100%;
}
.row.enroll-formSection{padding-top: 30px;}
.enroll-inquiryBtn{
    padding-top: 30px;
}
.enroll-inquiryBtn a{
    height: 55px;
    background: #0094c7;
    color: var(--white-color);
    font-family: ChalkboardSE;
    width: 25%;
    font-size: 18px;
}
.enroll-inquiryBtn a:hover{
    background: var(--prpl-color);
    color:var(--white-color);
}

/*--footer--*/

.footerMain-fluid h3{
    color: var(--black-color);
    margin-bottom: 20px;
    font-size: 26px;
}
.footerMain-fluid p{
    color: var(--secondary-98-color);
    font-size: 18px;
    line-height: 30px;
}
.footerMain-fluid ul li a{
    color: var(--secondary-98-color);
    font-size: 18px;
    padding: 5px 0;
    display: inline-block;
}
.footerMain-fluid ul li a:hover{text-decoration: underline !important;}

/*--gallery-section--*/

.row.schoolGallery-section{padding-top: 45px;}
.schoolGallery-section a{
    margin-bottom: 30px;
    overflow: hidden;
}
.schoolGallery-section a img{
    height:263px;
    transition: 0.4s ease all;
    transform: scale(1);
}
.schoolGallery-section a:hover img{
    transform: scale(1.09);
}

/*--contact-us--*/

.contactInner img{height: 70px;}
.contactInner h5{
    margin: 25px 0 12px;
    font-size: 22px;
    color: var(--black-color);
}
.contactInner p{
    font-size: 16px;
    color: var(--secondary-98-color);
    margin-bottom: 0;
}
.row.contactDetailsForm{padding-top: 45px;}
.contactDetailsForm form .form-group input, .contactDetailsForm form .form-group select, .contactDetailsForm form .form-group textarea{
    background: var(--white-color);
    border: none;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.09);
    height: 50px !important;
    margin-bottom: 35px;
}
.contactDetailsForm form .form-group input:hover, .contactDetailsForm form .form-group select:hover, .contactDetailsForm form .form-group textarea:hover,
.contactDetailsForm form .form-group input:focus, .contactDetailsForm form .form-group select:focus, .contactDetailsForm form .form-group textarea:focus{
     box-shadow: 0 3px 10px 0 rgba(0,0,0,0.09);
}
.contactDetailsForm form .form-group textarea{height: 150px !important;}
.contactDetailsForm form .submit-btn{
    margin: auto;
    background: var(--orange-color);
    color: var(--white-color);
    height: 50px;
    width: 20%;
    border-radius: 4px;
    font-size: 18px;
    border: 1px solid var(--orange-color);
}
.contactDetailsForm form .submit-btn:hover{
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2);
    background: var(--white-color);
    color: var(--orange-color);
}

/*--facilities--*/

.margin-30{margin-top: 30px;}

/*--about-us--*/

.line-height{line-height: 32px !important;}
.innerSectionBanner{
    height: 380px;
    display: flex;
    align-items: flex-end;
    text-align: right;
}
.innerSectionBanner h3{
    background: url("../images/back-school-pattern.jpg");
    background-size: 8%;
    background-repeat: repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 60px;
}
.principal-imgSec{position: relative;left: calc(100% - 50%);}
.principal-Details{position: relative;right:50%;}

/*--register-details--*/

.row.contactDetailsForm.registerDetails-form{padding: 60px;}
.our-school-details.registerDetails{padding: 0 60px;}
.our-school-details.registerDetails img{height: 300px;margin: 0 auto 30px;}
.row.registerSectionRow{padding-top: 45px;}
.contactDetailsForm form .submit-btn.submit-btnSecond{width: 45%;border-radius: 50px;}

/*--login-page--*/
body.login-body{
     background: var(--orange);
}
.LoginInner-main{
background: var(--white-color);
    width: 35%;
    height: 425px;
    border-radius: 12px;
    padding: 30px 40px;
    text-align: left;
}
.LoginInner-main img{
    height: 100px;
}
.light-gray-bg{
    background-color: #f9f9f9;
}
