@media (min-width: 320px) and (max-width: 767px){
.banner-txt{text-align: center}
.row.header-socialLik {padding: 5px 0;}
.social-linkSec ul li {padding: 0;font-size: 14px;}
ul.list-inline.social-mediaLink{width: auto;padding-right: 15px;margin-left:15px;}
.social-linkSec .social-mediaLink li {padding: 0;}
.row.header-logoMenu {padding: 5px 15px;}
.logoMain a img {height:35px;}
.btn-toggle{display: block;}
.container-fluid.headerMain-section {height: auto;}
.menuBar-main .navbar-toggler {padding: 5px;background-color: #000;border: 1px solid #000;}
.container-fluid.headerMain-section.fixed-header .row.header-socialLik{padding: 5px 0;}
.container-fluid.headerMain-section.fixed-header .row.header-logoMenu {padding: 5px 15px;}
.container-fluid.headerMain-section.fixed-header .logoMain a img {height: 35px;}
.container-fluid.bannerSection {padding: 30px 15px;margin-top: 0;}
.bannerSection h1 {font-size: 21px;margin-bottom: 15px;text-align: center}
.bannerSection p {font-size: 14px;text-align: center}
.main-btn {margin: 7px 0 45px;padding: 10px 20px;font-size: 14px;}
.bannerSection img{height: 225px;margin: 75px auto 30px;}
.container-fluid.fluidSection-main {padding: 30px 15px;}
.headingSection.row{margin: 0;}
.headingSection h5 {font-size: 26px;}
.headingSection h5 img {height: 35px;margin-top: -6px;}
.headingSection p {font-size: 15px;}
.row.our-school-details{text-align: center;padding-top: 15px;}
.our-school-details h6 {font-size: 22px;margin-bottom: 15px;}
.our-school-details p {font-size: 14px;line-height: 25px;margin-bottom: 20px;}
.main-btnSecond {padding: 8px 20px 10px;font-size: 15px;}
.row.our-school-details img{height: 220px;margin-bottom: 10px;}
.row.why-choose-inner {padding-top: 10px;}
.choose-content h5 {font-size: 20px;margin-bottom: 5px;}
.choose-content p {font-size: 15px;}
.why-choose-inner .row {padding-bottom: 20px;}
.row.facilitiesInner {padding-top: 75px;}
.facilities {width:48%;margin-bottom: 75px;padding: 30px 15px;}
.facilities h5 {margin: 15px 0 5px;font-size: 20px;}
.facilities p {font-size: 15px;}
.facilities .facility-imgSec {width: 100px;height: 100px;margin: -100px auto 0;}
.facilities-imgInner {width: 80px;height: 80px;}
.facilitiesMainImg {background: var(--red-color);opacity: 1;width: 72px;height: 72px;}
.facilitiesMainImg img {height: 35px;}
.margin-0Mob{margin: 0 !important;}
.text-centerMob{text-align: center !important;}
.margin-autoMob{margin: auto !important;}
.marginBottom-20{margin-bottom: 20px;}
.galleryMain .gallery-imgSec {left: 0;margin-top: 60px}
.galleryMain .gallery-imgSec .col-sm-6{padding: 0 8px;}
.galleryMain .gallery-imgSec img{width: 100%;}
.gallery-imgSec img.img-4 {margin-top: 0;}
.gallery-imgSec img.img-3 {margin-top: 0;}
.row.staffSectionRow {padding-top: 30px;}
.staff-img {width: 120px;}
.staff-details {width: calc(100% - 120px);padding: 0 0 0 15px;text-align: left}
.row.staffSectionRow .col-sm-6{padding: 0;}
.row.meetStaff-section {margin-bottom: 30px !important;}
.staff-details h5 {font-size: 22px;margin-bottom: 8px;}
.staff-details h6 {font-size: 18px;margin-bottom: 15px;}
.container-fluid.enroll-childForm:before, .container-fluid.enroll-childForm:after {display: none;}
.row.enroll-formSection {padding-top: 15px;}
.enroll-inquiryBtn {padding-top:0;}
.enroll-inquiryBtn a {
    height: 45px;
    width: 50%;
    font-size: 16px;
}
.enroll-formSection form button {height: 45px;width: 50px;font-size: 20px;}
.footerMain-fluid h3 {margin-bottom: 3px;font-size: 18px;margin-top: 5px}
.footerMain-fluid p {font-size: 15px;line-height: 25px;}
.footerMain-fluid ul li a {font-size: 15px;padding: 3px 0;}
.btn-toggle {position: relative;width: 45px;height: 45px;border: none;background: transparent;outline: 0!important;z-index: 11;padding: 0;transition: 0.4s ease all;}
.container-fluid.headerMain-section.fixed-header .btn-toggle{width: 26px;height: auto;}
.container-fluid.headerMain-section.fixed-header {height: auto;}
.btn-toggle .icon {position: absolute;height: 2px;background-color: var(--white-color);right: 0;margin: auto;bottom: 0;top: 0;width: 16px;}
.btn-toggle .icon:before {position: absolute;width: 28px;height: 2px;background-color: var(--white-color);content: "";right: 0;top: -7px;}
.btn-toggle .icon:after {transition-duration: .5s;position: absolute;height: 2px;background-color: var(--white-color);content: "";top: 7px;width: 22px;right: 0;}
.fixed-header .btn-toggle .icon {background-color: var(--dark-gray-color);}
.fixed-header .btn-toggle .icon:before {background-color: var(--dark-gray-color);}
.fixed-header .btn-toggle .icon:after {background-color: var(--dark-gray-color);}
.choose-content.pr-3, .choose-content.pl-3 {padding: 0 !important;width: 100%;text-align: center;}
.choose-logoIcon {width: 100%;}
.choose-logoIcon span {margin: 10px auto 20px;}
.choose-sectionDiv {right: auto;}
.chooseSection-iconDiv {left: auto;}
.header-logoMenu ul {text-align: right;justify-content: flex-end;position: absolute !important;top: 38px;right: -15px;width: 175px;background: var(--white-color);border-top: 1px solid var(--black-color);padding: 15px;box-shadow: 0 7px 10px 0 rgba(0,0,0,0.1);}
.fixed-header .header-logoMenu ul{top: 23px;}
.header-logoMenu ul li{width:100%;margin: 0 !important;}
.header-logoMenu ul li a {font-size: 16px;padding: 10px 0;width: 100%;display: inline-block;text-align: center;}
.header-logoMenu ul li a.home{color:var(--navyBlue-color);}
.header-logoMenu ul li a.about-us{color: var(--orange-color)}
.header-logoMenu ul li a.facilitiesLink{color:var(--red-color)}
.header-logoMenu ul li a.gallery{color:var(--green-color)}
.header-logoMenu ul li a.contact-us{color:var(--blue-color)}
.header-logoMenu ul li a.home:before{background: var(--navyBlue-color);}
.header-logoMenu ul li a.about-us:before{background: var(--orange-color);}
.header-logoMenu ul li a.facilitiesLink:before{background: var(--red-color);}
.header-logoMenu ul li a.gallery:before{background: var(--green-color);}
.header-logoMenu ul li a.contact-us:before{background: var(--blue-color);}
.menuBar-main{position: relative;}
.header-logoMenu ul li a:before {bottom: 6px;width: 50%;height: 2px;}
.header-logoMenu ul .inq-loginBtn {font-size: 16px;padding: 4px 20px 8px;margin-left: 0;width: 100%;margin-top: 10px;}
.container-fluid.innerSectionBanner {height: 175px;}
.innerSectionBanner h3{font-size: 30px;}
.container-fluid.innerSectionBanner:before {height: 50px;background-size: 100% 125%;}
.line-height {line-height: 30px !important;}
.principal-imgSec{left: auto;padding: 0 !important;}
.principal-Details{right:auto;padding: 0 !important;}
.margin-30 {margin-top: 15px;}
.row.contactInner{padding-bottom: 30px;}
.contactInner h5 {margin: 20px 0 10px;font-size: 20px;}
.contactInner p {font-size: 15px;}
.contactInner p br{display: none;}
.contactInner img {height: 60px;}
.row.contactDetailsForm {padding-top: 30px;}
.row.contactDetailsForm .col-sm-6 {padding:0 !important;}
.contactDetailsForm form .form-group input, .contactDetailsForm form .form-group select, .contactDetailsForm form .form-group textarea {height: 45px !important;margin-bottom: 20px;font-size: 12px;}
.contactDetailsForm form .form-group textarea {height: 100px !important;}
.contactDetailsForm form .submit-btn {height: 45px;width: 40%;font-size: 16px;}
.row.registerSectionRow {padding-top: 30px;}
.row.contactDetailsForm.registerDetails-form {padding: 30px;}
.our-school-details.registerDetails img {height: auto;margin: 30px auto;}
.container-fluid.headerMain-section:before {top: 60%;height: 50px;}
.container-fluid.bannerSection:before {height: 40px;}
.LoginInner-main {width: 100%;height: 375px;padding: 30px;}
.gallery-imgSec .col-sm-6:nth-child(4) .hm-gallery-img{margin-top: 0}

}

@media (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
ul.list-inline.social-mediaLink {width: auto;padding-right: 15px;margin-left:20px}
.row.our-school-details {text-align: left;}
.text-centerMob {text-align: left !important;}
.galleryMain .gallery-headingP {margin: 10px 0 20px;}
.galleryMain .gallery-imgSec .col-sm-6 {padding: 0 15px 15px;}
.gallery-imgSec img.img-4 {margin-top: -30px;}
.galleryMain .gallery-imgSec {left: 15px;}
.galleryMain:before {width: 100%;}
.row.staffSectionRow .col-sm-6.pl-0 {padding-left: 0 !important;padding-right: 15px !important;}
.row.staffSectionRow .col-sm-6.pr-0 {padding-right: 0 !important;padding-left: 15px !important;}
.staff-img {width: 125px;}
.staff-details {width: calc(100% - 125px);padding: 0 0 0 20px;}
.staff-details h5 {font-size: 20px;margin-bottom: 10px;}
.staff-details h6 {font-size: 16px;margin-bottom: 10px;}
.staff-details p {font-size: 13px;}
.col-sm-6.col-12.pl-0.principal-Details, .row.contactDetailsForm .col-sm-6.pl-0{padding-left: 0 !important;padding-right: 15px !important;}
.col-sm-6.col-12.pr-0.principal-Details, .row.contactDetailsForm .col-sm-6.pr-0{padding-right: 0 !important;padding-left: 15px !important;}
.principal-Details {right: 50%;}
.principal-imgSec {left: calc(100% - 50%);}
.schoolGallery-section a img {height: 115px;}
.bannerSection h1 {font-size: 23px;margin-bottom: 15px;text-align: center;}
.LoginInner-main {width: 75%;padding: 30px 60px;}

}

@media (min-width: 768px) and (max-width: 1200px){
.header-logoMenu ul li a {font-size: 15px;padding: 15px 10px;letter-spacing:0;}
.header-logoMenu ul .inq-loginBtn {
    font-size: 14px;
    padding: 4px 10px 8px;
    margin-left: 5px;
}
.social-linkSec ul li a {
    color: var( --dark-gray-color);
}
.row.header-logoMenu {padding:20px 15px;}
.social-linkSec ul li {padding: 0 10px;}
.social-linkSec .social-mediaLink li {padding: 0;}
.row.header-socialLik {padding: 8px 15px;}
.logoMain a img {height:22px;}
.container-fluid.headerMain-section {height: 105px;}
.container-fluid.bannerSection {padding: 45px 0;margin-top: 105px;}
.container-fluid.headerMain-section:before {top: 8%;}
.container-fluid.headerMain-section.fixed-header .row.header-socialLik, .container-fluid.headerMain-section.fixed-header .row.header-logoMenu {padding: 10px 15px;}
.container-fluid.headerMain-section.fixed-header .logoMain a img {height:22px;}
.container-fluid.headerMain-section.fixed-header {height: 90px;}
.bannerSection h1 {font-size: 23px;margin-bottom: 15px;text-align: center;}
.bannerSection p {font-size: 14px;text-align: center}
.main-btn {margin: 15px 0;padding: 10px 20px;font-size: 14px;}
.bannerSection img {height: 300px;margin: 0 auto 15px;}
.container-fluid.bannerSection:before {height: 60px;}
.container-fluid.fluidSection-main {padding: 45px 0;}
.row.why-choose-inner {padding-top: 30px;align-items: center;}
.row.facilitiesInner {padding-top: 60px;}
.facilities {width: 48%;margin-bottom: 75px;}
.margin-0Tab{margin-bottom: 0 !important;}
.galleryMain:before {width: 105%;}
.galleryMain .gallery-imgSec {padding: 0;}
.gallery-imgSec img.img-4 {margin-top: -30px;}
.gallery-imgSec img.img-3 {margin-top: 20px;}
.staff-img {width: 150px;}
.staff-details {width: calc(100% - 150px);padding: 0 0 0 30px;}
.staff-details h5 {font-size: 26px;margin-bottom: 15px;}
.staff-details h6 {font-size: 18px;margin-bottom: 15px;}
.row.meetStaff-section {margin-bottom: 30px;}
.container-fluid.enroll-childForm:after {bottom: -15px;height: 50px;}
.row.enroll-formSection {padding-top: 10px;}
.container-fluid.fluidSection-main.enroll-childForm{padding: 10% 0;}
.enroll-inquiryBtn {padding-top:0;}
.enroll-inquiryBtn a {
    height: 45px;
    width: 30%;
    font-size: 16px;
}
.enroll-formSection form button {height: 45px;}
.container-fluid.innerSectionBanner {height: 230px;}
.line-height {line-height: 35px !important;}
.our-school-details p {margin-bottom: 30px;}
.our-school-details h6 {font-size: 28px;margin-bottom: 20px;}
.margin-30 {margin-top: 0px;}
.schoolGallery-section a img {height: 160px;}
.row.contactDetailsForm.registerDetails-form {padding: 30px 15px;}
.row.contactDetailsForm.registerDetails-form .col-sm-6.col-12{flex: 0 0 100%;max-width: 100%;padding: 0 !important;}
.contactDetailsForm form .form-group input, .contactDetailsForm form .form-group select, .contactDetailsForm form .form-group textarea {margin-bottom: 25px;}
.LoginInner-main {width: 75%;}
.header-logoMenu ul li a.home {
    color: var(--navyBlue-color);
}
.header-logoMenu ul li a.about-us {
    color: var(--orange-color);
}
.header-logoMenu ul li a.facilitiesLink {
    color: var(--red-color);
}
.header-logoMenu ul li a.gallery {
    color: var(--green-color);
}
.header-logoMenu ul li a.home:before {
    background: var(--navyBlue-color);
}
.header-logoMenu ul li a.about-us:before {
    background: var(--orange-color);
}
.header-logoMenu ul li a.facilitiesLink:before {
    background: var(--red-color);
}
.header-logoMenu ul li a.gallery:before {
    background: var(--green-color);
}
.header-logoMenu ul li a.contact-us {
    color: var(--blue-color);
}
.header-logoMenu ul li a.contact-us:before {
    background: var(--blue-color);
}
}

@media (min-width: 768px) and (max-width: 1200px) and (orientation: landscape){
.gallery-imgSec img.img-4 {margin-top: -45px;}.schoolGallery-section a img {height: 220px;}
}