<div class="col-sm-4 col-12" data-responsive="{{ instance.image.url }}" data-src="{{ instance.image.url }}">
    <a href="#" class="d-inline-block w-100 border-radius-8">
        <img class="img-fluid" src="{{ instance.image.url }}" alt="gallery"/>
    </a>
</div>