{% load static %}
<div class="facilities">
    <div class="facility-imgSec d-flex align-items-center justify-content-center">
        <div class="facilities-imgInner d-flex align-items-center justify-content-center"><span
                class="facilitiesMainImg d-flex align-items-center justify-content-center"><img alt="facility"
                class="img-fluid" src="{% static 'images/facility-img.png' %}"/> </span>
        </div>
    </div>

    <h5>{{ instance.name }}</h5>

    <p class="mb-0">{{ instance.description }}</p>
</div>
