<div class="col-sm-3 col-12">
    <div class="row ml-0 mr-0 w-100 meetStaff-section bg-1 align-items-center">
        <div class="staff-img">
            <img src="{{ instance.image.url }}" alt="staff images"/>
        </div>
        <div class="staff-details">
            <h5>{{ instance.name }}</h5>
            <p>{{ instance.desigination }}</p>
            {% with i=instance.degree.all %}
            <p class="mb-0">{{ i.name }}</p>
            {% endwith %}
        </div>
    </div>
</div>