{% extends 'base.html' %}

{% load cms_tags static %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
        <!--banner-section-->
		<div class="container-fluid bannerSection innerSectionBanner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('images/about-us-bg.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;">
			<div class="container p-0">
				<div class="col-sm-12 col-12">
					<h3>About Us</h3>
				</div>
			</div>
		</div>

		<!--about-section-->

		<div class="container-fluid fluidSection-main">
			<div class="container p-0">
				<div class="row m-0 our-school-details align-items-center">
					<div class="col-sm-6 order-sm-last col-12 pr-0">
						<img class="img-fluid" src="images/about-us-img.png" alt="about us">
					</div>
					<div class="col-sm-6 order-sm-first col-12 pl-0">
						<h6 class="colorGreen">About Us</h6>
						<p class="line-height">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							Duis aute irure dolor in reprehenderit in
						</p>
						<button class="main-btnSecond">Read More</button>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid fluidSection-main gray-bg">
			<div class="container p-0">
				<div class="row m-0 our-school-details align-items-center">
					<div class="col-sm-6 col-12 pl-0">
						<img class="img-fluid border-radius-8 marginBottom-20" src="images/director.jpg" alt="about us">
					</div>
					<div class="col-sm-6 col-12 pr-0">
						<h6 class="colorGreen">Director Message</h6>
						<p class="line-height">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							Duis aute irure dolor in reprehenderit in
						</p>
						<button class="main-btnSecond">Read More</button>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid fluidSection-main">
			<div class="container p-0">
				<div class="row m-0 our-school-details align-items-center">
					<div class="col-sm-6 col-12 pr-0 principal-imgSec">
						<img class="img-fluid border-radius-8 marginBottom-20" src="images/principal.jpg" alt="about us">
					</div>
					<div class="col-sm-6 col-12 pl-0 principal-Details">
						<h6 class="colorGreen">Principle Message</h6>
						<p class="line-height">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							Duis aute irure dolor in reprehenderit in
						</p>
						<button class="main-btnSecond">Read More</button>
					</div>
				</div>
			</div>
		</div>

{% endblock %}