{% load cms_tags menu_tags sekizai_tags static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}S Kids Play School{% endblock title %}</title>
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<link rel="stylesheet" type="text/css" href="{% static 'css/cast.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,700" rel="stylesheet">
		<link rel="icon" href="{% static 'images/favicon.png' %}" type="">
        {% render_block "css" %}
	</head>
	<body>
        {% cms_toolbar %}
		<!--header-section-->

		<header class="container-fluid headerMain-section w-100">
			<div class="row m-0 w-100 header-socialLik">
				<div class="col-sm-3 col-12 pl-0"></div>
				<div class="col-sm-9 col-12 pr-0 social-linkSec d-flex align-items-center">
					<ul class="mb-0 list-inline">
						<li class="list-inline-item">
							<a href="#">
								<i class="fas fa-phone-volume pr-1"></i>
								{% static_placeholder 'contact_number' %}
							</a>
						</li>
						<li class="list-inline-item">
							<a href="#">
								<i class="fas fa-envelope pr-1"></i>
								{% static_placeholder 'contact_email' %}
							</a>
						</li>
					</ul>
					<ul class="mb-0 list-inline social-mediaLink">
						<li class="list-inline-item">
							<a href="#" target="_blank" aria-label="twitter"><i class="fab fa-twitter"></i></a>
						</li>
						<li class="list-inline-item">
							<a href="#" target="_blank" aria-label="google"><i class="fab fa-google"></i></a>
						</li>
						<li class="list-inline-item">
							<a href="#" target="_blank" aria-label="facebook"><i class="fab fa-facebook-square"></i></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row m-0 w-100 header-logoMenu navbar navbar-expand-md align-items-center">
				<div class="logoMain">
					<a class="d-inline-block navbar-brand p-0 d-flex align-items-center" href="#">
						<img class="img-fluid logo-white" src="{% static 'images/logo-white.png' %}" alt="logo" />
						<img class="img-fluid" src="{% static 'images/logo.png' %}" alt="logo" />
					</a>
				</div>
				<div class=" menuBar-main">
					 <button class=" btn-toggle" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
						<span class=" icon "></span>
					  </button>
					<ul class="mb-0 list-inline collapse navbar-collapse" id="collapsibleNavbar">
						<li class="list-inline-item">
							{% show_menu 0 100 100 100 %}
						</li>
{#                        <li class="list-inline-item">#}
{#							<a class="home active" href="index.html">Home</a>#}
{#						</li>#}
{#						<li class="list-inline-item">#}
{#							<a class="about-us" href="about-us.html">About Us</a>#}
{#						</li>#}
{#						<li class="list-inline-item">#}
{#							<a class="facilitiesLink" href="facilities.html">Facilities</a>#}
{#						</li>#}
{#						<li class="list-inline-item">#}
{#							<a class="gallery" href="gallery.html">Gallery</a>#}
{#						</li>#}
{#						<li class="list-inline-item">#}
{#							<a class="contact-us" href="contact-us.html">Contact Us</a>#}
{#						</li>#}
{#						<li class="list-inline-item">#}
{#							<a href="login.html" class="inq-loginBtn login ml-0">Login</a>#}
{#						</li>#}
{#						<li class="list-inline-item">#}
{#							<a href="register.html" class="inq-loginBtn">Register Now</a>#}
{#						</li>#}
					</ul>
				</div>
			</div>
		</header>


		<!--banner-section-->

{% block content %} {% endblock %}

		<!--footer-section-->

		<div class="container-fluid fluidSection-main footerMain-fluid" style="background-image: url('images/footer-bg.png');background-repeat: no-repeat;background-size: cover;background-position:100%;">
			<div class="container p-0">
				<div class="row m-0 w-100">
					<div class="col-sm-4 col-12">
						<h3>About Us</h3>
						<p>Staring with the new school year in our kindergarten</p>
					</div>
					<div class="col-sm-4 col-12">
						<h3>Quick Link</h3>
						<ul class="mb-0 list-inline">
							<li><a href="#">Computer Lab</a></li>
							<li><a href="#">Bus</a></li>
							<li><a href="#">Fully Ac</a></li>
							<li><a href="#">Play Ground</a></li>
						</ul>
					</div>
					<div class="col-sm-4 col-12">
						<h3>Contact Us</h3>
						<p>Sector 49 shona road, (Gurgaon) Itech Park PIN122018</p>
					</div>
				</div>
			</div>
		</div>


		<script src="{% static 'js/jQuery-v3.3.1.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/popper.min.js' %}"></script>

		<script type="text/javascript">
			//--add-remove-class-js--//
			
			$(document).ready(function(){
			    $("#search").click(function()
			    {
			        $("#search1").addClass("search_section");
			    });
			    $("#close").click(function()
			    {
			        $("#search1").removeClass("search_section");
			    });
			});
		
			//--Header-fix-and-active-tab-js--//

			$(window).scroll(function(){
			    if ($(window).scrollTop() >= 35) {
			        $('.headerMain-section').addClass('fixed-header');
			    }
			    else {
			        $('.headerMain-section').removeClass('fixed-header');
			    }
				});

		</script>
        {% render_block "js" %}
	</body>
</html>



