{% extends 'base.html' %}

{% load cms_tags static %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
		<!--banner-section-->

		<div class="container-fluid bannerSection innerSectionBanner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('images/banner-contact-us.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;">
			<div class="container p-0">
				<div class="col-sm-12 col-12">
					<h3>Contact Us</h3>
				</div>
			</div>
		</div>

		<!--welcome-section-->

		<div class="container-fluid fluidSection-main">
			<div class="container p-0">
				<div class="row m-0 contact-detailsMain">
					<div class="col-sm-4 col-12">
						<div class="row m-0 w-100 contactInner text-center">
							<img class="img-fluid m-auto" src="images/facility-img.png" alt="contact img" />
							<h5 class="w-100">Our Location</h5>
							<p class="w-100">Sector 49 shona road<br/> (Gurgaon) Itech park<br/>  Pin 122018</p>
						</div>
					</div>
					<div class="col-sm-4 col-12">
						<div class="row m-0 w-100 contactInner text-center">
							<img class="img-fluid m-auto" src="images/facility-img.png" alt="contact img" />
							<h5 class="w-100">Phone Number</h5>
							<p class="w-100">+1234567890</p>
							<p class="w-100">+1234567890</p>
						</div>
					</div>
					<div class="col-sm-4 col-12">
						<div class="row m-0 w-100 contactInner text-center">
							<img class="img-fluid m-auto" src="images/facility-img.png" alt="contact img" />
							<h5 class="w-100">Email Address</h5>
							<p class="w-100">skidschild@gmail.com</p>
							<p class="w-100">kidsscreschool.@yahoo.com</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid fluidSection-main contactForm-fluid" style="background: url('images/contact-bg.png');background-repeat: no-repeat;background-position: center;background-size: cover;">
			<div class="container p-0">
				<div class="row m-0 w-100 headingSection text-center">
					<h5 class="w-100 colorGreen">Feel Free To Write Us</h5>
					<p class="w-100">At Children's Learn of India, our pediatric trained experts are focused 10</p>
				</div>
				<div class="row m-0 w-100 contactDetailsForm">
					<form class="mb-0 w-100">
						<div class="row m-0 w-100">
							<div class="col-sm-6 col-12 pl-0">
								<div class="form-group">
									<input type="text" placeholder="Name" class="form-control"/>
								</div>
							</div>
							<div class="col-sm-6 col-12 pr-0">
								<div class="form-group">
									<input type="email" placeholder="Email" class="form-control"/>
								</div>
							</div>
						</div>
						<div class="row m-0 w-100">
							<div class="col-sm-6 col-12 pl-0">
								<div class="form-group">
									<input type="text" placeholder="Contact Number" class="form-control"/>
								</div>
							</div>
							<div class="col-sm-6 col-12 pr-0">
								<div class="form-group">
									<input type="email" placeholder="Address" class="form-control"/>
								</div>
							</div>
						</div>
						<div class="row m-0 w-100">
							<div class="w-100">
								<div class="form-group">
									<input type="text" placeholder="Sub" class="form-control"/>
								</div>
							</div>
						</div>
						<div class="row m-0 w-100">
							<div class="w-100">
								<div class="form-group">
									<textarea class="form-control" placeholder="Drop message"></textarea>
								</div>
							</div>
						</div>
						<div class="row m-0 w-100">
							<button class="submit-btn">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>

{% endblock %}