{% extends 'base.html' %}

{% load cms_tags static %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

		<!--banner-section-->

		<div class="container-fluid bannerSection innerSectionBanner" style="background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('{% static 'images/facilities-banner-bg.jpg ' %}'); background-position: center; background-repeat: no-repeat; background-size: cover;">
			<div class="container p-0">
				<div class="col-sm-12 col-12">
					<h3>{% page_attribute "page_title" %}</h3>
				</div>
			</div>
		</div>


		<!--our-facilities-->

		<div class="container-fluid fluidSection-main">
			<div class="container p-0">
				<div class="row m-0 w-100 headingSection text-center">
					<h5 class="w-100 color-orange">Our Facilities</h5>
					<p class="w-100">Staring with the new school year in our kindergarten</p>
				</div>
				<div class="row m-0 w-100 facilitiesInner align-items-center text-center">
                    {% placeholder 'facilities' %}
				</div>
			</div>
		</div>

{% endblock %}