{% extends 'base.html' %}

{% load cms_tags static %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

		<!--banner-section-->

		<div class="container-fluid bannerSection innerSectionBanner" style="background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('images/banner-gallery-img.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;">
			<div class="container p-0">
				<div class="col-sm-12 col-12">
					<h3>Gallery</h3>
				</div>
			</div>
		</div>

		<!--welcome-section-->

		<div class="container-fluid fluidSection-main">
			<div class="container p-0">
				<div class="row m-0 w-100 headingSection text-center">
					<h5 class="w-100 color-bluePrpl">Gallery</h5>
					<p class="w-100">Staring with the new school year in our kindergarten</p>
				</div>
				<div id="lightgallery" class="row m-0 schoolGallery-section align-items-center demo-gallery">
                    {% placeholder 'gallery' %}
{#					<div class="col-sm-4 col-12" data-responsive="images/gallery-ac-11.jpg" data-src="images/gallery-ac-11.jpg">#}
{#						<a href="#" class="d-inline-block w-100 border-radius-8">#}
{#							<img class="img-fluid" src="images/gallery-ac-11.jpg" alt="gallery"/>#}
{#						</a>#}
{#					</div>#}
{#					<div class="col-sm-4 col-12" data-responsive="images/gallery-ac-12.jpg" data-src="images/gallery-ac-12.jpg">#}
{#						<a href="#" class="d-inline-block w-100 border-radius-8">#}
{#							<img class="img-fluid" src="images/gallery-ac-12.jpg" alt="gallery"/>#}
{#						</a>#}
{#					</div>#}
{#					<div class="col-sm-4 col-12" data-responsive="images/gallery-ac-13.jpg" data-src="images/gallery-ac-13.jpg">#}
{#						<a href="#" class="d-inline-block w-100 border-radius-8">#}
{#							<img class="img-fluid" src="images/gallery-ac-13.jpg" alt="gallery"/>#}
{#						</a>#}
{#					</div>#}
{#					<div class="col-sm-4 col-12" data-responsive="images/gallery-ac-14.jpg" data-src="images/gallery-ac-14.jpg">#}
{#						<a href="#" class="d-inline-block w-100 border-radius-8">#}
{#							<img class="img-fluid" src="images/gallery-ac-14.jpg" alt="gallery"/>#}
{#						</a>#}
{#					</div>#}
{#					<div class="col-sm-4 col-12" data-responsive="images/gallery-ac-15.jpg" data-src="images/gallery-ac-15.jpg">#}
{#						<a href="#" class="d-inline-block w-100 border-radius-8">#}
{#							<img class="img-fluid" src="images/gallery-ac-15.jpg" alt="gallery"/>#}
{#						</a>#}
{#					</div>#}
{#					<div class="col-sm-4 col-12" data-responsive="images/gallery-ac-20.jpg" data-src="images/gallery-ac-20.jpg">#}
{#						<a href="#" class="d-inline-block w-100 border-radius-8">#}
{#							<img class="img-fluid" src="images/gallery-ac-20.jpg" alt="gallery"/>#}
{#						</a>#}
{#					</div>#}
{#					<div class="col-sm-4 col-12" data-responsive="images/gallery-ac-23.jpg" data-src="images/gallery-ac-23.jpg">#}
{#						<a href="#" class="d-inline-block w-100 border-radius-8">#}
{#							<img class="img-fluid" src="images/gallery-ac-23.jpg" alt="gallery"/>#}
{#						</a>#}
{#					</div>#}
{#					<div class="col-sm-4 col-12" data-responsive="images/gallery-ac-18.jpg" data-src="images/gallery-ac-18.jpg">#}
{#						<a href="#" class="d-inline-block w-100 border-radius-8">#}
{#							<img class="img-fluid" src="images/gallery-ac-18.jpg" alt="gallery"/>#}
{#						</a>#}
{#					</div>#}
{#					<div class="col-sm-4 col-12" data-responsive="images/gallery-ac-19.jpg" data-src="images/gallery-ac-19.jpg">#}
{#						<a href="#" class="d-inline-block w-100 border-radius-8">#}
{#							<img class="img-fluid" src="images/gallery-ac-19.jpg" alt="gallery"/>#}
{#						</a>#}
{#					</div>#}
{#					<div class="col-sm-4 col-12" data-responsive="images/gallery-ac-21.jpg" data-src="images/gallery-ac-21.jpg">#}
{#						<a href="#" class="d-inline-block w-100 border-radius-8">#}
{#							<img class="img-fluid" src="images/gallery-ac-21.jpg" alt="gallery"/>#}
{#						</a>#}
{#					</div>#}
{#					<div class="col-sm-4 col-12" data-responsive="images/gallery-ac-22.jpg" data-src="images/gallery-ac-22.jpg">#}
{#						<a href="#" class="d-inline-block w-100 border-radius-8">#}
{#							<img class="img-fluid" src="images/gallery-ac-22.jpg" alt="gallery"/>#}
{#						</a>#}
{#					</div>#}
{#					<div class="col-sm-4 col-12" data-responsive="images/gallery-ac-26.jpg" data-src="images/gallery-ac-26.jpg">#}
{#						<a href="#" class="d-inline-block w-100 border-radius-8">#}
{#							<img class="img-fluid" src="images/gallery-ac-26.jpg" alt="gallery"/>#}
{#						</a>#}
{#					</div>#}
				</div>
			</div>
		</div>

{% endblock %}



