{% extends 'base.html' %}
{% load cms_tags static %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    		<div class="container-fluid bannerSection" style="background-image: url('{% static 'images/banner-bg.png' %}'); background-position: center; background-repeat: no-repeat; background-size: cover;">
			<div class="container p-0">
				<div class="row m-0 w-100 align-items-center">
					<div class="col-sm-6 order-sm-last col-12 p-0 text-center banner-img">
						<img class="img-fluid" src="{% static 'images/banner-img.png' %}" alt="banner img" />
					</div>
					<div class="col-sm-6 order-sm-first col-12 pl-0 banner-txt">
						    {% placeholder "Banner_Section" %}
					</div>
				</div>
			</div>
		</div>
		<!--welcome-section-->

		<div class="container-fluid fluidSection-main">
			<div class="container p-0">
				<div class="row w-100 headingSection text-center">
					<h5 class="w-100">Welcome To <img src="{% static 'images/logo.png' %}" alt="logo" /> Academy</h5>
					<p class="w-100">At Children's Learn of India, our pediatric trained experts are focused 100</p>
				</div>
				<div class="row m-0 our-school-details align-items-center">
					<div class="col-sm-6 col-12 pl-0">
						<img class="img-fluid" src="{% static 'images/our-school-img.png' %}" alt="our school" />
					</div>
					<div class="col-sm-6 col-12 pr-0">
                        {% placeholder 'welcome_section' %}
					</div>
				</div>
			</div>
		</div>

		<!--why-choose-us-->

		<div class="container-fluid fluidSection-main light-gray-bg" style="background-image: url('{% static 'images/why-choose-bg.png' %}');background-repeat: repeat; background-size: 100%;background-position: center;">
			<div class="container p-0">
				<div class="row w-100 headingSection text-center">
					<h5 class="w-100 color-red">Why Choose us</h5>
					<p class="w-100">At Children's Learn of India, our pediatric trained experts are focused 100</p>
				</div>
				<div class="row m-0 why-choose-inner">
					<div class="col-sm-4 col-12 p-0 text-right">
						<div class="row m-0 w-100">
							<div class="choose-logoIcon chooseSection-iconDiv">
								<span class="chooseColor-1 d-flex align-items-center justify-content-center">
									<img class="img-fluid" src="{% static 'images/book.png' %}" alt=" book"/>
								</span>
							</div>
							<div class="choose-content choose-sectionDiv pr-3">
								<h5>Language Lesson</h5>
								<p class="mb-0">At Children's Learn of India, our pediatric trained experts are focused 100</p>
							</div>
						</div>
						<div class="row m-0 w-100">
							<div class="choose-logoIcon chooseSection-iconDiv">
								<span class="chooseColor-2 d-flex align-items-center justify-content-center">
									<img class="img-fluid" src="{% static 'images/book.png' %}" alt=" book"/>
								</span>
							</div>
							<div class="choose-content pr-3 choose-sectionDiv">
								<h5 class="colorBlue">Language Lesson</h5>
								<p class="mb-0">At Children's Learn of India, our pediatric trained experts are focused 100</p>
							</div>
						</div>
						<div class="row m-0 w-100">
							<div class="choose-logoIcon chooseSection-iconDiv">
								<span class="chooseColor-3 d-flex align-items-center justify-content-center">
									<img class="img-fluid" src="{% static 'images/book.png' %}" alt=" book"/>
								</span>
							</div>
							<div class="choose-content pr-3 choose-sectionDiv">
								<h5 class="colorPrpl">Language Lesson</h5>
								<p class="mb-0">At Children's Learn of India, our pediatric trained experts are focused 100</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-12 p-0">
						<img class="img-fluid" src="{% static 'images/why-choose-img.png' %}" alt="why choose img"/>
					</div>
					<div class="col-sm-4 col-12 p-0">
						<div class="row m-0 w-100">
							<div class="choose-logoIcon">
								<span class="chooseColor-4 d-flex align-items-center justify-content-center">
									<img class="img-fluid" src="{% static 'images/book.png' %}" alt=" book"/>
								</span>
							</div>
							<div class="choose-content pl-3">
								<h5 class="colorRed">Language Lesson</h5>
								<p class="mb-0">At Children's Learn of India, our pediatric trained experts are focused 100</p>
							</div>
						</div>
						<div class="row m-0 w-100">
							<div class="choose-logoIcon">
								<span class="chooseColor-5 d-flex align-items-center justify-content-center">
									<img class="img-fluid" src="{% static 'images/book.png  ' %}" alt=" book"/>
								</span>
							</div>
							<div class="choose-content pl-3">
								<h5 class="colorBlueLight">Language Lesson</h5>
								<p class="mb-0">At Children's Learn of India, our pediatric trained experts are focused 100</p>
							</div>
						</div>
						<div class="row m-0 w-100">
							<div class="choose-logoIcon">
								<span class="chooseColor-6 d-flex align-items-center justify-content-center">
									<img class="img-fluid" src="{% static 'images/book.png' %}" alt=" book"/>
								</span>
							</div>
							<div class="choose-content pl-3">
								<h5 class="colorGreen">Language Lesson</h5>
								<p class="mb-0">At Children's Learn of India, our pediatric trained experts are focused 100</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--our-facilities-->

		<div class="container-fluid fluidSection-main">
			<div class="container p-0">
				<div class="row w-100 headingSection text-center">
					<h5 class="w-100 color-orange">Our Facilities</h5>
					<p class="w-100">Staring with the new school year in our kindergarten</p>
				</div>
				<div class="row m-0 w-100 facilitiesInner align-items-center text-center">
                    {% placeholder 'facilities' %}
			</div>
		</div>

		<!--gallery-section-->

		<div class="container-fluid fluidSection-main galleryMain" style="background-image: url('{% static 'images/gallery-bg-img.png' %}');background-repeat: repeat;background-size: 40%;">
			<div class="container p-0">
				<div class="row m-0 w-100 align-items-center">
					<div class="col-sm-3 col-12 pl-0">
						<div class="row w-100 headingSection text-centerMob">
							<h5 class="w-100 color-bluePrpl">Gallery</h5>
                            {% placeholder 'gallery_content' %}
						</div>
					</div>
					<div class="col-sm-2 col-12 p-0"></div>
					<div class="col-sm-7 col-12 gallery-imgSec">
						<div class="row m-0 w-100">
                            {% placeholder 'index_gallery' %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--meet-staff--section-->

		<div class="container-fluid fluidSection-main meetStaff-fluid">
			<div class="container p-0">
				<div class="row m-0 w-100 headingSection text-center">
					<h5 class="w-100 color-red">Meet Our Staff</h5>
					<p class="w-100 color-secondary-98 gallery-headingP">Staring with the new school year in our kindergarten</p>
				</div>
				<div class="row m-0 w-100 staffSectionRow">
                    {% placeholder 'index_staff' %}
				</div>
			</div>
		</div>

		<!--enroll your child to a class-->

		<div class="container-fluid fluidSection-main enroll-childForm">
			<div class="container p-0">
				<div class="row m-0 w-100 headingSection text-center">
					<h5 class="w-100 white-color">Enroll Your Child To A Class</h5>
					<p class="w-100 white-color gallery-headingP">Staring with the new school year in our kindergarten Staring with the new school<br/> year in our kindergarten</p>
				</div>
				<div class="row m-0 w-100 enroll-inquiryBtn">
					<a href="contact-us.html" class="border-radius-8 text-uppercase d-flex align-items-center justify-content-center m-auto">Inquiry</a>
				</div>
			</div>
		</div>


{% endblock %}