{% extends 'base.html' %}

{% load cms_tags static %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
		<!--login-section-->

		<div class="container-fluid loginSection-main d-flex align-items-center justify-content-center h-100">
			<div class="LoginInner-main text-center">
				<img class="img-fluid m-auto" src="images/register-login-img.png"/>
				<div class="row m-0 w-100 contactDetailsForm">
					<form class="mb-0 w-100" action="index.html">
						<div class="row m-0 w-100">
							<div class="w-100">
								<div class="form-group">
									<input type="email" placeholder="Enter your mail id" class="form-control" required />
								</div>
							</div>
							<div class="w-100">
								<div class="form-group">
									<input type="password" placeholder="Password" class="form-control" required />
								</div>
							</div>
						</div>
						<div class="row m-0 w-100">
							<button class="submit-btn submit-btnSecond text-uppercase">Login</button>
						</div>
					</form>
				</div>
			</div>
		</div>

{% endblock %}


