{% extends 'base.html' %}

{% load cms_tags static %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
		<!--banner-section-->

		<div class="container-fluid bannerSection innerSectionBanner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('images/register-banner-img.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;">
			<div class="container p-0">
				<div class="col-sm-12 col-12">
					<h3>Registration</h3>
				</div>
			</div>
		</div>

		<div class="container-fluid fluidSection-main contactForm-fluid">
			<div class="row m-0 w-100 headingSection text-center">
				<h5 class="w-100 colorGreen">Registration</h5>
				<p class="w-100">At Children's Learn of India, our pediatric trained experts are focused 100</p>
			</div>
			<div class="row m-0 w-100 registerSectionRow">
				<div class=" col-sm-6 pl-0 gray-bg">
					<div class="row m-0 w-100 contactDetailsForm registerDetails-form">
						<form class="mb-0 w-100">
							<div class="row m-0 w-100">
								<div class="col-sm-6 col-12 pl-0">
									<div class="form-group">
										<input type="text" placeholder="First Name" class="form-control"/>
									</div>
								</div>
								<div class="col-sm-6 col-12 pr-0">
									<div class="form-group">
										<input type="text" placeholder="Last Name" class="form-control"/>
									</div>
								</div>
							</div>
							<div class="row m-0 w-100">
								<div class="col-sm-6 col-12 pl-0">
									<div class="form-group">
										<input type="text" placeholder="Father Name" class="form-control"/>
									</div>
								</div>
								<div class="col-sm-6 col-12 pr-0">
									<div class="form-group">
										<input type="text" placeholder="Mother Name" class="form-control"/>
									</div>
								</div>
							</div>
							<div class="row m-0 w-100">
								<div class="col-sm-6 col-12 pl-0">
									<div class="form-group">
										<select class="form-control">
											<option>Class</option>
											<option>Class</option>
											<option>Class</option>
											<option>Class</option>
										</select>
									</div>
								</div>
								<div class="col-sm-6 col-12 pr-0">
									<div class="form-group">
										<select class="form-control">
											<option>Gender</option>
											<option>Male</option>
											<option>Female</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row m-0 w-100">
								<div class="col-sm-6 col-12 pl-0">
									<div class="form-group">
										<select class="form-control">
											<option>Subject</option>
											<option>Subject</option>
											<option>Subject</option>
										</select>
									</div>
								</div>
								<div class="col-sm-6 col-12 pr-0">
									<div class="form-group">
										<select class="form-control">
											<option>Age</option>
											<option>Age</option>
											<option>Age</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row m-0 w-100">
								<div class="col-sm-6 col-12 pl-0">
									<div class="form-group">
										<input type="text" placeholder="Contact Number" class="form-control"/>
									</div>
								</div>
								<div class="col-sm-6 col-12 pr-0">
									<div class="form-group">
										<input type="text" placeholder="Address" class="form-control"/>
									</div>
								</div>
							</div>
							<div class="row m-0 w-100">
								<div class="w-100">
									<div class="form-group">
										<textarea class="form-control" placeholder="Drop message"></textarea>
									</div>
								</div>
							</div>
							<div class="row m-0 w-100">
								<button class="submit-btn submit-btnSecond">Registration Now</button>
							</div>
						</form>
					</div>
				</div>
				<div class="col-sm-6 our-school-details registerDetails text-center">
					<img class="img-fluid" src="images/register-login-img.png" alt="register"/>
					<h6 class="colorGreen w-100">Free Registration</h6>
					<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
		</div>

{% endblock %}